<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.projectShare.mapper.ItemsMapper">
    <resultMap id="ItemsDevelopResultMap" type="com.projectShare.Pojo.ItemsDevelop">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="Iname" property="Iname" jdbcType="VARCHAR"/>
        <result column="Itext" property="Itext" jdbcType="VARCHAR"/>
        <result column="upTime" property="upTime"/>
        <result column="modifyTime" property="modifyTime"/>
        <result column="lookNum" property="lookNum" jdbcType="INTEGER"/>
        <result column="upUser" property="upUser" jdbcType="INTEGER"/>
        <result column="assortmentId" property="assortmentId" jdbcType="INTEGER"/>
        <result column="itemState" property="itemState" jdbcType="INTEGER"/>
        <result column="goodNum" property="goodNum" jdbcType="INTEGER"/>
        <result column="resourceSrc" property="resourceSrc" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="INTEGER"/>
        <result column="mainImg" property="mainImg" jdbcType="VARCHAR"/>
        <association property="user" column="id" select="com.projectShare.mapper.UserMapper.selectUserForID"/>
    </resultMap>
    <!--插入项目数据-->
    <insert id="insertItem" parameterType="com.projectShare.Pojo.Items">
    insert into items(Iname,Itext,upUser,assortmentId,resourceSrc,mainImg)
    values(#{Iname},#{Itext},#{upUser},#{assortmentId},#{resourceSrc},#{mainImg})
    </insert>

    <!--修改项目-->
    <update id="changeItem" parameterType="com.projectShare.Pojo.Items">
        update items set Iname=#{Iname},Itext=#{Itext},assortmentId=#{assortmentId},mainImg=#{mainImg},resourceSrc=#{resourceSrc}
        where id=#{id}
    </update>

    <!--查找分类项目-->
    <select id="selectItems" parameterType="java.lang.Integer" resultMap="ItemsDevelopResultMap">
      select * from items where assortmentId=#{assortmentId} and itemState=1 ordery by weight desc,upTime desc limit #{star},8
    </select>

    <!--查找所有待审核的项目-->
    <select id="selectAllAuditingItems" resultMap="ItemsDevelopResultMap">
      select * from items where itemState=0 ordery by upTime desc
    </select>


    <!--删除项目-->
    <select id="deleteItems" parameterType="java.lang.Integer">
     delete from items where id=#{id}
    </select>


    <!--查找全部项目数-->
    <select id="selectCountItem" resultType="java.lang.Integer">
      select sum(id) from items;
    </select>

    <!--项目审核-->
    <update id="changeItemState" parameterType="Integer">
      update items set itemState=#{itemState} where id=#{id}
    </update>
</mapper>