/*
* @Author: Fuyuumiai
* @Date:   2018-12-21 22:43:29
* @Last Modified by:   Fuyuumiai
* @Last Modified time: 2018-12-21 22:43:29
*/
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?7kkyc2');
    src: url('fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('fonts/icomoon.woff?7kkyc2') format('woff'),
    url('fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-style: normal;
}

.main_center {
    width: calc(100% - 240px);
    height: 618px;
    margin-top: 2px;
    float: left;
}

.center_ul {
    width: 100%;
    height: 618px;
    position: relative;
}

.ul_top {
    display: block;
    width: 100%;
    height: 280px;
    margin-top: 8px;
}

.ultop li {
    width: calc(calc(100% / 4) - 30px);
    height: 280px;
    margin-left: 30px;
    border-radius: 6px;
    box-shadow: 10px 10px 10px #adadad;
    -webkit-box-shadow: 10px 10px 10px #adadad;
    -moz-box-shadow: 10px 10px 10px #adadad;
    float: left;
    background-color: #fff7;
}

.ultop li:first-child {
    margin-left: 15px;
}

.ul_down {
    display: block;
    width: 100%;
    height: 280px;
    margin-top: 30px;
}

.uldown li {
    width: calc(calc(100% / 4) - 30px);
    height: 280px;
    margin-left: 30px;
    border-radius: 6px;
    box-shadow: 10px 10px 10px #adadad;
    -webkit-box-shadow: 10px 10px 10px #adadad;
    -moz-box-shadow: 10px 10px 10px #adadad;
    float: left;
    background-color: #fff7;
}

.uldown li:first-child {
    margin-left: 15px;
}

/*所有图片展示css*/
.li_top {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 6px;
}

.li_top a {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 6px;
    overflow: hidden;
    background: url("../image/java.PNG") no-repeat;
    background-size: cover;
    transition: all 0.6s ease;
}

.li_top a:hover {
    transform: scale(1.2);
}

.li_top span {
    display: block;
    width: 55px;
    height: 25px;
    font-family: 'icomoon';
    font-size: 14px;
    line-height: 25px;
    position: absolute;
    top: 2%;
    left: 82%;
    bottom: 0;
    right: 0;
}

.li_top span::before {
    content: "\e9ce";
}

.li_bottom {
    position: relative;
}

.li_bottom p {
    display: block;
    width: 360px;
    height: 20px;
    margin-top: 6px;
    line-height: 20px;
    font-size: 14px;
    font-family: 'icomoon';
}

.li_bottom p span {
    width: 90px;
    height: 20px;
    margin-left: 5px;
    text-align: right;
}

.li_bottom p:first-child::before {
    content: "\e971";
}

.li_bottom p:nth-child(2)::before {
    content: "\e95c";
}

/*点赞样式*/
.thumbup {
    width: 42px;
    height: 20px;
    position: absolute;
    top: 90%;
    left: 80%;
}

.thumb_up {
    display: inline-block;
    width: 42px;
    height: 20px;
    font-family: 'icomoon';
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
}

.thumb_up {
    margin-right: 10px;
}

.thumb_up::before {
    content: "\e904";
}

.thumb_up:hover {
    color: red;
}

/*翻页样式*/
.center_bottom {
    width: calc(100% - 260px);
    height: 50px;
    margin-left: 255px;
    position: absolute;
    top: 620px;
    background-color: #0001;
    border-radius: 3px;
}

.button_turn {
    width: 1020px;
    height: 50px;
    margin: 0 auto;
    margin-left: 120px;
}

.button_turn li {
    display: block;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 5px;
    margin-left: 30px;
    border-radius: 2px;
    background-color: #fff8;
    float: left;
    cursor: pointer;
}

.button_turn li:first-child {
    margin-left: 250px;
}