/*
* @Author: Administrator
* @Date:   2018-12-28 10:17:47
* @Last Modified by:   Administrator
* @Last Modified time: 2018-12-28 10:17:47
*/
.block {
    width: 100%;
    height: 870px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.block .block_center {
    width: 1040px;
    margin: 0 auto;
}

.block_title {
    width: 300px;
    height: 50px;
    position: absolute;
    line-height: 50px;
    text-align: center;
    top: 0;
    left: 4%;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}

.block_title span {
    display: block;
    background-color: #0ff;
    width: 300px;
    height: 50px;
    font-family: 'icomoon';
    border-radius: 5px;
}

.block_title span:before {
    content: "\e91f";
    font-size: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.block_ultop {
    width: 100%;
    height: 400px;
}

.block_ultop > li {
    width: 320px;
    height: 400px;
    margin-top: 80px;
    margin-right: 37px;
    float: left;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid gray;
}

.block_ultop > li:last-child {
    margin-right: 0px;
}

.block_ultop > li > span {
    display: block;
    width: 280px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'icomoon';
    font-size: 20px;
    border-bottom: 3px solid #0ff;
}

.ultop_html > span:before {
    content: "\eae4";
}

.ultop_js > span::before {
    content: "\e905";
}

.ultop_and > span::before {
    content: "\eac0";
}

.block_ultop > li > ul {
    width: 300px;
    height: 357px;
    margin-left: 20px;
    position: relative;
}

.block_ultop > li > ul > li {
    width: 300px;
    height: 35px;
}

.block_ultop > li > ul > li::before {
    content: "-";
}

.block_ultop > li > ul > li:last-child::before {
    content: "";
}

.block_ultop > li > ul > li:first-child {
    margin-top: 10px;
}

.block_ultop > li > ul > li:last-child {
    display: block;
    width: 85px;
    height: 30px;
    line-height: 30px;
    border: 1px solid gray;
    position: absolute;
    top: 86%;
    left: 70%;
    text-align: center;
    cursor: pointer;
}

.block_ultop > li > ul > li > span {
    font-family: 'icomoon';
    vertical-align: middle;
    font-size: 14px;
}

.block_ultop > li > ul > li > span > a {
    font-size: 16px;
    text-decoration: none;
    color: #222;
}

.block_ultop > li > ul > li:last-child:hover {
    background-color: red;
}

.block_ultop > li > ul > li > span:after {
    content: "\ea42";
    margin-left: 3px;
}

.block_ultop > li > ul > li > a {
    display: block;
    width: 270px;
    height: 35px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #222;
    transition: all 0.4s;
}

.block_ultop > li > ul > li > a:hover {
    transform: translate(10px, 0px);
    color: blue;
}

/* 下部分 */
.block_ulbottom {
    width: 100%;
    height: 400px;
}

.block_ulbottom > li {
    width: 320px;
    height: 400px;
    margin-top: 30px;
    margin-right: 37px;
    float: left;
    box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid gray;
}

.block_ulbottom > li:last-child {
    margin-right: 0px;
}

.block_ulbottom > li > span {
    display: block;
    width: 280px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'icomoon';
    font-size: 20px;
    border-bottom: 3px solid #0ff;
}

.ulbottom_java > span:before {
    content: "\e901";
}

.ulbottom_c > span::before {
    content: "\e909";
}

/* #ulbottom_expand>span::before{
    content: "\eac0";
}  */
.block_ulbottom > li > ul {
    width: 300px;
    height: 357px;
    margin-left: 20px;
    position: relative;
}

.block_ulbottom > li > ul > li {
    width: 300px;
    height: 35px;
}

.block_ulbottom > li > ul > li::before {
    content: "-";
}

.block_ulbottom > li > ul > li:last-child::before {
    content: "";
}

.block_ulbottom > li > ul > li:first-child {
    margin-top: 10px;
}

.block_ulbottom > li > ul > li:last-child {
    display: block;
    width: 85px;
    height: 30px;
    line-height: 30px;
    border: 1px solid gray;
    position: absolute;
    top: 86%;
    left: 70%;
    text-align: center;
    cursor: pointer;
}

.block_ulbottom > li > ul > li > span {
    font-family: 'icomoon';
    vertical-align: middle;
    font-size: 14px;
}

.block_ulbottom > li > ul > li > span > a {
    font-size: 16px;
    text-decoration: none;
    color: #222;
}

.block_ulbottom > li > ul > li:last-child:hover {
    background-color: red;
}

.block_ulbottom > li > ul > li > span:after {
    content: "\ea42";
    margin-left: 3px;
}

.block_ulbottom > li > ul > li > a {
    display: block;
    width: 270px;
    height: 35px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #222;
    transition: all 0.4s;
}

.block_ulbottom > li > ul > li > a:hover {
    transform: translate(10px, 0px);
    color: blue;
}

.expand_center {
    width: 240px;
    height: 30px;
    margin-left: 30px;
    line-height: 30px;
    margin-top: 185px;
}

.expand_center a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'icomoon';
    vertical-align: middle;
    font-size: 18px;
    color: #222;
}

.expand_center a:after {
    content: "\e986";
    margin-left: 5px;
}

.expand_center a:hover {
    color: blue;
}