/*
* @Author: Administrator
* @Date:   2018-12-28 17:03:55
* @Last Modified by:   Administrator
* @Last Modified time: 2018-12-28 17:03:55
*/
.main {
    width: 100%;
    height: 100%;
    position: relative;
}

.main_left {
    width: 250px;
    height: 100%;
    float: left;
    background-color: black;
}

.left_function {
    width: 250px;
    height: 600px;
    background-color: red;
}

.left_tx {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 14px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border: 2px solid #fff;
    box-shadow: 0 0 4px #ccc;
    overflow: hidden;
    margin-left: 90px;
}

.info_tx img {
    width: 100%;
    min-height: 100%;
}

.left_function > li {
    width: 250px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
}

.left_function > li > a {
    text-decoration: none;
    color: #666;
}

.main_center {
    width: calc(100% - 280px);
    margin-top: 30px;
    float: right;
    display: none;
}

.center_title {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    text-align: center;
}

.center_person {
    width: calc(100% - 150px);
    height: 600px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.person_one, .person_two {
    width: calc(calc(calc(100% - 150px) - 20px) / 2);
    height: 300px;
    float: left;
    background-color: red;
}

.person_one {
    width: 500px;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.one_title {
    width: 100%;
    height: 50px;
    background-color: #0ff;
    position: relative;
}

.one_title > span {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-left: 20px;
}

.one_title > a {
    display: inline-block;
    width: 120px;
    height: 50px;
    font-size: 14px;
    position: absolute;
    top: 40%;
    left: 72%;
    text-align: center;
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.one_left {
    display: inline-block;
    width: 150px;
    margin-top: 50px;
    float: left;
}

.one_left > li {
    width: 150px;
    height: 45px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 60px;
}

.one_right {
    display: inline-block;
    width: 200px;
    margin-top: 50px;
    float: right;
}

.one_right > li {
    width: 150px;
    height: 45px;
    line-height: 30px;
    font-size: 16px;
    margin-right: 50px;
    font-weight: bold;
}

.person_two {
    width: 500px;
    height: 300px;
    position: relative;
    margin-bottom: 20px;
}

.two_title {
    width: 100%;
    height: 50px;
    background-color: #0ff;
    position: relative;
}

.two_title > span {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-left: 20px;
}

.two_title > a {
    display: inline-block;
    width: 120px;
    height: 50px;
    font-size: 14px;
    position: absolute;
    top: 40%;
    left: 72%;
    text-align: center;
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.two_sum {
    width: 100px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -20px;
    font-size: 18px;
    font-weight: bold;
}

.person_three {
    width: calc(100% - 70px);
    height: 300px;
    overflow: hidden;
    background-color: red;
    float: left;
}

.three_title {
    width: 100%;
    height: 50px;
    background-color: #0ff;
    position: relative;
}

.three_title > span {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-left: 20px;
}

.three_lb {
    width: 100%;
    height: 250px;
}

.three_lb > ul {
    width: 100%;
}

.three_lb > ul > li {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 2px;
    background-color: blue;
    position: relative;
}

.lb_time {
    width: 120px;
    height: 30px;
    position: absolute;
    top: 30%;
    left: 80%;
}

/*个人信息*/
#personal_information {
    width: calc(100% - 280px);
    margin-top: 30px;
    float: right;
}

.personal_xg {
    width: calc(100% - 150px);
    height: 600px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.personal_title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: red;
}

.personal_table {
    width: calc(100% - 30%);
    margin: 0 auto;
}

.personal_fro {
    display: block;
    width: calc(100% - 20%);
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

.fro_tr {
    width: 100%;
    height: 100px;
    background-color: red;
}

.personal_fro tr > td:first-child {
    width: calc(100% - 60%);
    height: 50px;
}

.personal_fro tr > td:last-child {
    width: calc(100% - 40%);
    height: 50px;
}