/*
* @Author: Administrator
* @Date:   2018-12-25 19:43:55
* @Last Modified by:   Administrator
* @Last Modified time: 2018-12-25 19:43:55
*/
.pro_title {
    width: 100%;
    height: 150px;
    margin-top: 3px;
    position: absolute;
    box-shadow: 0px 0px 15px #adadad;
    -webkit-box-shadow: 0px 0px 15px #adadad;
    -moz-box-shadow: 0px 0px 15px #adadad;
}

.pro_title .title_font {
    display: block;
    width: 600px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -60px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
}

.infor {
    width: 500px;
    height: 80px;
    margin-left: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: 40px;
}

.infor span {
    display: block;
    width: 100px;
    height: 20px;
    line-height: 20px;
    font-family: 'icomoon';
    font-size: 16px;
}

.infor_name {
    position: absolute;
}

.infor_type {
    position: absolute;
    left: 120px;
}

.infor_time {
    position: absolute;
    left: 240px;
}

.infor_name::before {
    content: "\e971";
}

.infor_type::before {
    content: "\e95c";
}

.infor_time::before {
    content: "\e950";
}

/* 项目简述 */
.pro_main {
    width: 100%;
    position: absolute;
    top: 260px;
    border-bottom: 9px solid #999;
}

.pro_main .pro_js {
    width: 940px;
    height: 300px;
    margin: 0 auto;
    margin-top: 5px;
    overflow: auto;
    position: relative;
    border: 1px solid #666;
}

.js_title {
    display: block;
    width: 120px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    float: left;
}

.js_char {
    width: 820px;
    padding-top: 10px;
    float: right;
    font-size: 16px;
    text-indent: 2em;
}

.pro_pic {
    width: 920px;
    position: relative;
    left: 50%;
    margin-top: 20px;
    margin-left: -470px;
}

.pic_title {
    display: block;
    width: 290px;
    height: 50px;
    line-height: 50px;
    font-family: 'icomoon';
    font-size: 24px;
    padding-left: 10px;
}

.pic_title::before {
    content: "\e90e";
}

.pic_img {
    width: 100%;
    overflow: hidden;
}

.pic_img img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.pro_xz {
    width: 110px;
    height: 30px;
    position: relative;
    bottom: 20px;
    left: 50%;
    margin-left: -65px;

    /* 	margin-left: -90px;
    margin-top: -16px;	 */

}

.xz_ico {
    display: block;
    width: 20px;
    height: 30px;
    line-height: 30px;

    font-family: 'icomoon';
    float: left;
    font-size: 18px;
}

.xz_ico::before {
    content: "\e9c5";
}

.pro_xz a {
    text-align: center;
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    float: right;
    font-size: 16px;
    color: red;
    text-decoration: none;
}