<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置包扫描器 -->
    <context:component-scan base-package="com.projectShare.controller"/>
    <!-- 具体controller包的路径取决于你新建的java代码的controller层包  -->

    <!-- 配置注解驱动-->
    <mvc:annotation-driven/>

    <!--静态资源访问-->
    <mvc:default-servlet-handler/>
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 图片上传大小设置-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>50240000</value>
        </property>
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
    </bean>

    <!--视图解析器-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
    <!--<propertyname="prefix"value="/"/>-->
    <!--<propertyname="suffix"value=".html"/>-->
    <!--<bean id="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->

    <!--拦截器-->
    <!--<mvc:interceptors>-->
    <!--&lt;!&ndash;可配置多个拦截器,顺序执行&ndash;&gt;-->
    <!--<mvc:interceptor>-->
    <!--<mvc:mapping path="/product/**"/>-->
    <!--&lt;!&ndash;如果不配置或/*,将拦截所有的Controller&ndash;&gt;-->
    <!--<bean class="manage.base.interceptor.PermissionInterceptor"></bean>-->
    <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
</beans>
